.upload-wrapper {
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(2px);
   animation: fade-in 0.5s;
}

.upload-wrapper.close {
   animation: fade-out 0.5s forwards;
}

.upload-container {
   padding: 2rem;
   padding-top: 1rem;
   background-color: #fff;
   z-index: 1000;
   border-radius: 8px;
   height: 400px;
   min-width: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.upload-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-bottom: 1rem;
}

.upload-header__title {
   font-size: 2.5rem;
   letter-spacing: 1px;
   margin: 0.5rem;
}

.upload-header__btn--close {
   margin-right: 1rem;
}

.upload-area {
   border: 2px dashed #ccc;
   border-radius: 8px;
   padding: 2rem;
   cursor: pointer;
   z-index: 1000;
   width: 500px;
   height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
   transition: all 0.2s;

   &__text {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: center;
   }

   &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
}

.upload-area:hover,
.upload-area.isDragging {
   border-color: #007bff;
}

.share-btn {
   margin-top: 1rem;
   align-self: flex-end;
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes fade-out {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}
