.story-container {
   border: 2px solid #000;
   padding: 10px;
   min-width: 40vw;
   min-height: 60px;
   margin-top: 20px;
   border-radius: 5px;
   display: flex;
   gap: 10px;
   align-items: center;
   overflow-y: hidden;
   overflow-x: auto;
   flex-wrap: nowrap;

   &__add-btn {
      transition: all 0.3s;

      &:hover {
         box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
         border-color: #4096ff;
         transform: translateY(-1px);
      }
   }
}

.story-avatar {
   background-color: #fff;
   border: 1px solid #8d8d8d;
   cursor: pointer;
   transition: all 0.3s;
}

.story-avatar:hover {
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   border-color: #4096ff;
   transform: translateY(-1px);
}

@media (max-width: 768px) {
   .story-container {
      width: 80vw;
   }
}
