* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   font-size: 10px;
}

body {
   margin: 0;
   padding: 20px;
}

.wrapper {
   padding: 10px;
   width: 100%;
   min-height: 100vh;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
